*{
    margin: 0;
    padding: 0;
}

#logo {
    width: 90px;
    height: 24px;
}

/* css do anuncio de promoção*/
.anuncio {
    margin-bottom: 40px;
    height: 30%;
    background: url(../imagens/anuncio.png);
    background-size: 90%;
    background-repeat: no-repeat;
    margin-top: 2rem;
}

.anuncio h4 {
    font-size: 3.3rem;
    line-height: 1.2;
    font-family: Lucida;
}

.anuncio a {
    background-color: #cd6709;
    padding: 1rem 3rem 1rem 3rem;
    color: #ffffff;
    font-size: 1rem;
    /*^*/
}

